<section>
    <div class="row">
        <div class="col s12 center">
            <h2>Ausgangsrechung erstellen/bearbeiten</h2>
        </div>
    </div>

    <div class="row">
        <form [formGroup]="saleFormGroup" (ngSubmit)="saveForm()" class="col s12">
            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input id="invDate" type="text" class="datepicker validate" formControlName="invDate" required>
                    <label for="invDate">Rechnungsdatum</label>
                </div>
                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>

                <div class="input-field col s6">
                    <input id="customer" type="text" class="validate" formControlName="customer" required>
                    <label for="customer">Kunde</label>
                </div>

                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>

                <div class="input-field col s6">
                    <input id="project" type="text" class="validate" formControlName="project" required>
                    <label for="project">Projekt / Auftrag</label>
                </div>

                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>

                <div class="input-field col s6">
                    <input id="net" type="number" min="0" class="validate" formControlName="net" required>
                    <label for="net">Netto</label>
                </div>

                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>

                <div class="input-field col s6">
                    <select id="vat" formControlName='vat'>
                        <optgroup label="Österreich">
                            <option value="20">20%</option>
                            <option value="13">13%</option>
                            <option value="10">10%</option>
                            <option value="0">0%</option>
                        </optgroup>
                    </select>
                    <label for="vat">Umsatzsteuer</label>
                </div>

                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input id="cashFlowDate" type="text" class="datepicker validate" formControlName="cashFlowDate"
                        required>
                    <label for="cashFlowDate">Geldflussdatum</label>
                </div>
                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <!-- form control name not correct either groups or companies -->
                    <select id="company" formControlName="companies">
                        <option value="" disabled>Wählen Sie eine Option</option>
                        <option *ngFor="let companyOption of companyOptions" [value]="companyOption.id">
                            {{ companyOption.name }}</option>
                    </select>
                    <label for="company">Firma</label>
                </div>
                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <select id="bookingType" formControlName="bookingType">
                        <option value="" disabled>Wählen Sie eine Option</option>
                        <option *ngFor="let bookingType of bookingTypes" [value]="bookingType.id">
                            {{ bookingType.name }}</option>
                    </select>
                    <label for="bookingType">Buchungskonto</label>
                </div>
                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>

                <div class="file-field input-field col s6">
                    <div class="btn">
                        <span>Datei</span>
                        <input formControlName="invoice" type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Rechnung(en) hochladen">
                    </div>
                </div>
                <div class="col s3"></div>
            </div>

            <div class="row">
                <div class="col s3"></div>

                <div class="input-field col s6 center">
                    <button class="btn btn-large waves-effect" type="submit">Speichern</button>
                </div>

                <div class="col s3"></div>
            </div>
        </form>
    </div>
</section>