<section>
  <div class="row">
    <div class="col s12 center">
      <h2>Passwort ändern</h2>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <form [formGroup]="passwordFormGroup" (ngSubmit)="saveForm()" class="col s12">

        <div class="row">
          <div class="input-field col s12 l6 offset-l3">
            <i class="material-icons prefix">account_circle</i>
            <input id="username" type="text" [ngClass]="{ 'validate' : false }" formControlName="username"
                   required [readonly]="true" pattern="[a-zA-Z0-9]*">
            <label [ngClass]="{ 'active' : (passwordFormGroup.username != '') }"
                   for="username">Benutzername *</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 l6 offset-l3">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate" formControlName="password"
                   required (keyup)="passwordMatch()">
            <label for="password">Passwort *</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 l6 offset-l3">
            <i *ngIf="!passwordsMatch" class="material-icons prefix">close</i>
            <i *ngIf="passwordsMatch" class="material-icons prefix">done</i>
            <input id="passwordConfirm" type="password" class="validate" formControlName="passwordConfirm"
                   required (keyup)="passwordMatch()">
            <label for="passwordConfirm">Passwort bestätigen *</label>
          </div>
        </div>

        <div class="row">
          <div class="col s12 l6 offset-l3 center">
            <button type="button" (click)="cancelForm()" class="btn btn-large waves-effect yellow darken-2">
              Abbrechen
            </button>
            <button type="submit" [disabled]="!passwordFormGroup.valid" class="btn btn-large waves-effect">
              Speichern
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</section>
