<div class="row">
    <div class="col s12">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>ReNr.</th>
                    <th>Belegdatum</th>
                    <th>Datum Geldfluss</th>
                    <th>Rechnungsaussteller</th>
                    <th>Text</th>
                    <th>Ust.</th>
                    <th>Netto</th>
                    <th>Brutto</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="hoverable">
                    <td>01</td>
                    <td>22-01-2019</td>
                    <td>23-01-2019</td>
                    <td>Firma Musterfrau</td>
                    <td>Webseite</td>
                    <td>
                        <div class="input-field col s12">
                            <select>
                                <optgroup label="Österreich">
                                    <option value="20">20%</option>
                                    <option value="13">13%</option>
                                    <option value="10">10%</option>
                                    <option value="0">0%</option>
                                </optgroup>
                                <optgroup label="Deutschland">
                                    <option value="19">19%</option>
                                    <option value="7">7%</option>
                                    <option value="0">0%</option>
                                </optgroup>
                            </select>
                        </div>
                    </td>
                    <td>500</td>
                    <td>550</td>
                    <td>
                        <div class="fixed-action-btn custom-action-btn">
                            <a class="btn-floating btn-small">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li><a class="btn-floating"><i class="material-icons">save_alt</i></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr class="hoverable">
                    <td>02</td>
                    <td>06-02-2019</td>
                    <td>10-02-2019</td>
                    <td>ÖH</td>
                    <td>Studienbeitrag</td>
                    <td>
                        <div class="input-field col s12">
                            <select>
                                <optgroup label="Österreich">
                                    <option value="20">20%</option>
                                    <option value="13">13%</option>
                                    <option value="10">10%</option>
                                    <option value="0">0%</option>
                                </optgroup>
                                <optgroup label="Deutschland">
                                    <option value="19">19%</option>
                                    <option value="7">7%</option>
                                    <option value="0">0%</option>
                                </optgroup>
                            </select>
                        </div>
                    </td>
                    <td>20</td>
                    <td>24</td>
                    <td>
                        <div class="fixed-action-btn custom-action-btn">
                            <a class="btn-floating btn-small">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li><a class="btn-floating"><i class="material-icons">save_alt</i></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr class="hoverable">
                    <td>03</td>
                    <td>27-03-2019</td>
                    <td>29-03-2019</td>
                    <td>Kultus</td>
                    <td>Div. Getränke</td>
                    <td>
                        <div class="input-field col s12">
                            <select>
                                <optgroup label="Österreich">
                                    <option value="20">20%</option>
                                    <option value="13">13%</option>
                                    <option value="10">10%</option>
                                    <option value="0">0%</option>
                                </optgroup>
                                <optgroup label="Deutschland">
                                    <option value="19">19%</option>
                                    <option value="7">7%</option>
                                    <option value="0">0%</option>
                                </optgroup>
                            </select>
                        </div>
                    </td>
                    <td>100</td>
                    <td>120</td>
                    <td>
                        <div class="fixed-action-btn custom-action-btn">
                            <a class="btn-floating btn-small">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li><a class="btn-floating"><i class="material-icons">save_alt</i></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
</div>