<p class="container" style="color: red;">
    Sobald man immer die Company abfragen muss in der man sich gerade befindet,
    kann man dann auch die anderen Elemente (Tabs) ausblenden. Momentan werde diese ja noch in der
    Company Select (auf dieser Seite) angezeigt.
</p>

<section>
    <div class="row">
        <div class="col s12 m4"></div>

        <div class="col s12 m4">
            <div class="card custom-card">
                <div class="card-image">
                    <img src="../../assets/images/bg/sidenav-bg.jpg">
                    <span class="card-title">Company 1</span>
                </div>
                <div class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam tortor ac gravida
                        dapibus. Proin est ante, tincidunt et neque sodales, sollicitudin commodo justo.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">www.company1.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4"></div>
</section>