<div class="row">
    <div class="container">
        <div *ngFor="let company of companies" routerLink="/einnahmen" (click)="setCompany(company.id)"
             class="col s12 m4">
            <div class="card custom-card">
                <div class="card-image">
                    <img src="../../assets/images/bg/sidenav-bg.jpg">
                    <span class="card-title">{{ company.name }}</span>
                </div>
                <div *ngIf="company.description !== null" class="card-content">
                    <p>
                        {{ company.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
