<div class="row">
    <div class="col m4">
        <h4>Umsatzsteuer</h4>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Monat</th>
                    <th>Summe</th>
                </tr>
            </thead>

            <tbody>
                <tr class="hoverable">
                    <td>Jän</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Feb</td>
                    <td>€ 30</td>
                </tr>
                <tr class="hoverable">
                    <td>Mär</td>
                    <td>€ 4</td>
                </tr>
                <tr class="hoverable">
                    <td>Apr</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Mai</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Jun</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Jul</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Aug</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Sep</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Okt</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Nov</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Dez</td>
                    <td>€ -</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col m4">
        <h4>Vorsteuer</h4>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Monat</th>
                    <th>Summe</th>
                </tr>
            </thead>

            <tbody>
                <tr class="hoverable">
                    <td>Jän</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Feb</td>
                    <td>€ 17</td>
                </tr>
                <tr class="hoverable">
                    <td>Mär</td>
                    <td>€ 6</td>
                </tr>
                <tr class="hoverable">
                    <td>Apr</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Mai</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Jun</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Jul</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Aug</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Sep</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Okt</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Nov</td>
                    <td>€ -</td>
                </tr>
                <tr class="hoverable">
                    <td>Dez</td>
                    <td>€ -</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col m4">
        <h4>Ust. Zahllast</h4>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Monat</th>
                    <th>Betrag</th>
                    <th>Überwiesen am</th>
                </tr>
            </thead>

            <tbody>
                <tr class="hoverable">
                    <td>Jän</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Feb</td>
                    <td>€ 13</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Mär</td>
                    <td>€ -2</td>
                    <td>15-05-2019</td>
                </tr>
                <tr class="hoverable">
                    <td>Apr</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Mai</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Jun</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Jul</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Aug</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Sep</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Okt</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Nov</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
                <tr class="hoverable">
                    <td>Dez</td>
                    <td>€ -</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
