<div class="row">
    <div class="col s12">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>ReNr.</th>
                    <th>Datum</th>
                    <th>Kunde</th>
                    <th>Projekt / Auftrag</th>
                    <th>Ust.</th>
                    <th>Netto</th>
                    <th>Brutto</th>
                    <th>Bezahlt Brutto</th>
                    <th>Zahlungseingang</th>
                    <!-- <th>Zahlungsdauer</th> -->
                    <!-- <th>Differenz</th> -->
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let sale of sales" class="hoverable">
                    <td>{{ sale.invNo }}</td>
                    <td>{{ sale.invDate }}</td>
                    <td>{{ sale.customer }}</td>
                    <td>{{ sale.project }}</td>
                    <td>{{ sale.ust }}</td>
                    <td>{{ sale.net }}</td>
                    <td>{{ sale.net * (1 + sale.ust) }}</td>
                    <td>{{ sale.gross }}</td>
                    <td>{{ sale.cashflowdate }}</td>
                    <td>
                        <div class="fixed-action-btn custom-action-btn">
                            <a class="btn-floating btn-small" [routerLink]="['/einnahmen-form/' + sale.id]">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                        </div>
                    </td>
                </tr>


                <!-- <tr class="hoverable">
                    <td>03</td>
                    <td>Mär</td>
                    <td>17-03-2019</td>
                    <td>Some Firm</td>
                    <td>Content Strategy</td>
                    <td>2200</td>
                    <td>440</td>
                    <td>2640</td>
                    <td>2640</td>
                    <td>26-03-2019</td>
                    <td>6</td>
                    <td>0</td>
                    <td>
                        <div class="fixed-action-btn custom-action-btn">
                            <a class="btn-floating btn-small" routerLink="/einnahmen-form">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                                <li><a class="btn-floating green"><i class="material-icons">save_alt</i></a></li>
                            </ul>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>

    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" routerLink="/einnahmen-form"><i
            class="material-icons">add</i></a>
</div>

<p class="container">
    Soweit mir aufgefallen ist, geht der Hover Effekt nicht mehr sobald man die Daten dynamisch ladet. Entweder wir
    lassen den weg, weil
    er auch nicht wirklich notwendig ist, oder wir laden alles gleichzeitig, also warten bis alle Daten da sind und dann
    könnte es theoretisch funktionieren.
    Sieht man wenn man den Beispieldatensatz wieder einkommentiert.
</p>