<div class="row">
    <div class="col s12">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>ReNr.</th>
                    <th>Datum</th>
                    <th>Kunde</th>
                    <th>Projekt / Auftrag</th>
                    <th>Ust.</th>
                    <th>Netto</th>
                    <th>Brutto</th>
                    <th>Zahlungseingang</th>
                    <!-- <th>Zahlungsdauer</th> -->
                    <!-- <th>Differenz</th> -->
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let sale of sales" class="hoverable">
                    <td>{{ sale.invNo }}</td>
                    <td>{{ sale.invDate }}</td>
                    <td>{{ sale.customer }}</td>
                    <td>{{ sale.project }}</td>
                    <td>{{ sale.vat | number:'1.2' }}</td>
                    <td>{{ sale.net | number:'1.2' }}</td>
                    <td>{{ sale.gross | number:'1.2' }}</td>
                    <td>{{ sale.cashflowdate }}</td>
                    <td>
                        <div class="fixed-action-btn custom-action-btn">
                            <a class="btn-floating btn-small" [routerLink]="['/einnahmen-form/' + sale.id]">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
          <span *ngIf="empty">Noch keine Daten vorhanden</span>
        </table>

    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" routerLink="/einnahmen-form"><i
            class="material-icons">add</i></a>
</div>
