<header>
    <div class="navbar-fixed">
        <nav class="nav-wrapper indigo">
            <span *ngIf="isLoggedIn && companyService.currentCompany && companyService.getCompanyToken()">Firma:
                {{companyService.currentCompany?.name}}</span>
            <a routerLink="/" class="brand-logo center">AccountX</a>
            <a href="" class="sidenav-trigger" data-target="mobileNav" *ngIf="isLoggedIn">
                <i class="material-icons">view_module</i>
            </a>

            <ul id="dropdown" class="dropdown-content" *ngIf="isLoggedIn">
                <!-- <li><a href="#"><i class="material-icons left">account_circle</i>Profil</a></li> -->
                <!-- <li><a href="#"><i class="material-icons left">settings_applications</i>Einstellungen</a></li> -->

                <li *ngIf="this.userService.isAdmin"><a href="#" title="Admin Dashboard" routerLink="admin-dashboard"><i
                        class="material-icons left">supervised_user_circle</i>Admin</a></li>
                <li class="divider"></li>
                <li><a title="Logout" (click)="logout()"><i class="material-icons left">exit_to_app</i>Logout</a></li>
            </ul>

            <ul class="right" *ngIf="isLoggedIn">
                <li>
                    <a href="#" class="dropdown-trigger" data-target="dropdown"><i
                            class="material-icons right">more_vert</i></a>
                </li>
            </ul>
        </nav>
    </div>

    <ul id="mobileNav" class="sidenav" *ngIf="isLoggedIn">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../assets/images/bg/sidenav-bg.jpg">
                </div>
                <a><img class="circle" src="../assets/images/people/example-portrait.jpg"></a>
                <a><span
                        class="white-text name">{{ this.userService.currentUser?.first_name !== '' ? this.userService.currentUser?.first_name : '(Vorname fehlt)' }}
                    {{ this.userService.currentUser?.last_name !== '' ? this.userService.currentUser?.last_name : '(Nachname fehlt)' }}</span></a>
                <a><span class="white-text email">{{ this.userService.currentUser?.username }}@accountx.com</span></a>
            </div>
        </li>

        <li>
            <div class="divider"></div>
        </li>

        <li><a class="subheader"><i class="material-icons">business</i>Firmen</a></li>
        <li><a title="Firma auswählen" class="waves-effect sidenav-close" routerLink="/firmen">Übersicht</a></li>

        <li>
            <div class="divider"></div>
        </li>

        <div *ngIf="isLoggedIn && companyService.currentCompany && companyService.getCompanyToken()">
            <li><a class="subheader"><i class="material-icons">account_balance_wallet</i>Ausgangsrechnungen</a></li>
            <li><a title="Einnahmen" class="waves-effect sidenav-close" routerLink="/einnahmen">Übersicht</a></li>
            <li><a title="Ausgangsrechnung erstellen" class="waves-effect sidenav-close"
                   routerLink="/einnahmen-form">Erstellen</a></li>

            <li>
                <div class="divider"></div>
            </li>

            <li><a class="subheader"><i class="material-icons">payment</i>Eingangsrechnungen</a></li>
            <li><a title="Ausgaben" class="waves-effect sidenav-close" routerLink="/ausgaben">Übersicht</a></li>
            <li><a title="Eingangsrechnung erstellen" class="waves-effect sidenav-close"
                   routerLink="/ausgaben-form">Erstellen</a></li>

            <li>
                <div class="divider"></div>
            </li>

            <li><a class="subheader"><i class="material-icons">account_balance</i>Ust. Abgaben</a></li>
            <li><a title="Ust. Abgaben" class="waves-effect sidenav-close" routerLink="/ust">Übersicht</a></li>
        </div>
    </ul>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container">
        <p>
            &copy; {{ currentYear }} Copyright: AccountX
        </p>
    </div>
</footer>
