main {
  flex: 1 0 auto;
}

.navbar-fixed {
  // actions buttons have a z-index of 997
  // navbar should be higher therefore
  z-index: 998;
}

nav a.sidenav-trigger {
  display: initial;

  i {
    outline: none;
  }
}

.nav-tabs {
  padding: 0;
}

.footer {
  line-height: 3.5em;
  text-align: center;
  background: #f2f2f2;
}
