<div class="navbar-fixed">
    <nav class="nav-wrapper indigo">
        <a href="#" class="brand-logo center">AccountX</a>
        <a href="#" class="sidenav-trigger" data-target="mobileNav">
            <i class="material-icons">view_module</i>
        </a>

        <ul id="dropdown" class="dropdown-content">
            <li><a href="#"><i class="material-icons left">account_circle</i>Profil</a></li>
            <li><a href="#"><i class="material-icons left">settings_applications</i>Einstellungen</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul>



        <ul class="right">
            <li><a class="dropdown-trigger" href="#" data-target="dropdown"><i
                        class="material-icons right">more_vert</i></a></li>
        </ul>

        <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
    </nav>
</div>

<ul id="mobileNav" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../assets/images/bg/sidenav-bg.jpg">
            </div>
            <a href="#"><img class="circle" src="../assets/images/people/example-portrait.jpg"></a>
            <a href="#"><span class="white-text name">Jane Doe</span></a>
            <a href="#"><span class="white-text email">jane.doe@accountx.com</span></a>
        </div>
    </li>

    <!-- <li><a href="#"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#">Second Link</a></li> -->

    <li>
        <div class="divider"></div>
    </li>

    <li><a class="subheader">Main</a></li>

    <li><a class="waves-effect" href="#">Link 1</a></li>
    <li><a class="waves-effect" href="#">Link 2</a></li>

    <li>
        <div class="divider"></div>
    </li>

    <li><a class="subheader">Sub</a></li>

    <li><a class="waves-effect" href="#">Link 3</a></li>
    <li><a class="waves-effect" href="#">Link 4</a></li>
</ul>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <p>
            &copy; {{ currentYear }} Copyright: AccountX
        </p>
    </div>
</footer>