<div class="navbar-fixed">
    <nav class="nav-wrapper indigo">
        <a routerLink="/" class="brand-logo center">AccountX</a>
        <a href="#" class="sidenav-trigger" data-target="mobileNav">
            <i class="material-icons">view_module</i>
        </a>

        <ul id="dropdown" class="dropdown-content">
            <li><a href="#"><i class="material-icons left">account_circle</i>Profil</a></li>
            <li><a href="#"><i class="material-icons left">settings_applications</i>Einstellungen</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul>

        <ul class="right">
            <li><a class="dropdown-trigger" href="#" data-target="dropdown"><i
                        class="material-icons right">more_vert</i></a></li>
        </ul>
    </nav>
</div>

<ul id="mobileNav" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../assets/images/bg/sidenav-bg.jpg">
            </div>
            <a href="#"><img class="circle" src="../assets/images/people/example-portrait.jpg"></a>
            <a href="#"><span class="white-text name">Jane Doe</span></a>
            <a href="#"><span class="white-text email">jane.doe@accountx.com</span></a>
        </div>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li><a class="subheader"><i class="material-icons">account_balance_wallet</i>Einnahmen</a></li>

    <li><a class="waves-effect" href="#">Übersicht</a></li>
    <li><a class="waves-effect" href="#">Erstellen</a></li>

    <li>
        <div class="divider"></div>
    </li>

    <li><a class="subheader"><i class="material-icons">attach_money</i>Ausgaben</a></li>

    <li><a class="waves-effect" href="#">Übersicht</a></li>
    <li><a class="waves-effect" href="#">Erstellen</a></li>

    <li>
        <div class="divider"></div>
    </li>

    <li><a class="subheader"><i class="material-icons">account_balance</i>Ust. Abgabe</a></li>

    <li><a class="waves-effect" href="#">Übersicht</a></li>
</ul>

<section>
    <div class="row">
        <div class="col s12 nav-tabs">
            <ul class="tabs">
                <li class="tab col s4"><a class="active" routerLink="einnahmen">Einnahmen</a></li>
                <li class="tab col s4"><a routerLink="ausgaben">Ausgaben</a></li>
                <li class="tab col s4"><a routerLink="ust">Ust. Abgabe</a></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <router-outlet></router-outlet>
</section>

<section>
    <div class="row">
        <div class="col s12">
            <br>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p>
            &copy; {{ currentYear }} Copyright: AccountX
        </p>
    </div>
</footer>