<section>
    <div class="row">
        <div class="col s12 center">
            <h2>Eingangsrechnung <span *ngIf="!id">erstellen</span><span *ngIf="id">bearbeiten</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <form [formGroup]="purchaseFormGroup" (ngSubmit)="saveForm()" class="col s12">
                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">receipt</i>
                        <input id="invNo" type="number" min="0" class="validate" formControlName="invNo" required>
                        <label for="invNo">Rechnungsnummer</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">calendar_today</i>
                        <input id="invDate" type="text" class="datepicker validate" formControlName="invDate" required>
                        <label for="invDate">Rechnungsdatum</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">person</i>
                        <input id="biller" type="text" class="validate" formControlName="biller" required>
                        <label for="biller">Rechnungsaussteller</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">money_off</i>
                        <select id="ust" formControlName='ust'>
                            <optgroup label="Österreich">
                                <option value="0.2" [selected]="ust === 0.2">20%</option>
                                <option value="0.13" [selected]="ust === 0.13">13%</option>
                                <option value="0.1" [selected]="ust === 0.1">10%</option>
                                <option value="0" [selected]="ust === 0">0%</option>
                            </optgroup>
                        </select>
                        <label for="ust">Umsatzsteuer</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="net" type="number" min="0" class="validate" formControlName="net" required>
                        <label for="net">Netto</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">calendar_today</i>
                        <input id="cashflowdate" type="text" class="datepicker validate" formControlName="cashflowdate"
                            required>
                        <label for="cashflowdate">Geldflussdatum</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">note</i>
                        <textarea id="notes" class="materialize-textarea validate" formControlName="notes"
                            required></textarea>
                        <label for="notes">Notizen</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">business</i>
                        <select id="company" formControlName="company">
                            <option value="" disabled>Wähle eine Option</option>
                            <option *ngFor="let companyOption of companyOptions" [value]="companyOptions.id">
                                {{companyOption.name + " - " + companyOption.description}}</option>
                        </select>
                        <label for="company">Firma</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">category</i>
                        <select id="bookingType" formControlName="bookingType">
                            <option value="" disabled>Wähle eine Option</option>
                            <option *ngFor="let bookingTypeOption of bookingTypeOptions"
                                [value]="bookingTypeOptions.id">
                                {{bookingTypeOption.name}}</option>
                        </select>
                        <label for="bookingType">Buchungskonto</label>
                    </div>
                </div>

                <div class="row">
                    <div class="file-field input-field col s12 l6 offset-l3">
                        <div class="btn">
                            <span>Datei</span>
                            <input formControlName="invoice" type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Rechnung(en) hochladen">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l6 offset-l3 center">
                        <button *ngIf="id" class="btn btn-large waves-effect modal-trigger"
                            data-target="deleteModal">Löschen</button>
                        <button class="btn btn-large waves-effect" type="submit">Speichern</button>

                        <!-- Modal Structure -->
                        <div id="deleteModal" class="modal col s12 l4 center">
                            <div class="modal-content">
                                <h4>Eintrag löschen</h4>
                                <p>Sind sie sich sicher, dass der Eintrag gelöscht werden soll?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
                                <a class="modal-close waves-effect waves-green btn-flat"
                                    (click)="deletePurchase(purchaseFormGroup.value)">Löschen</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>