<section>
    <div class="row">
        <div class="col s12 center">
            <h2>Mitarbeiter <span *ngIf="!isData">erstellen</span><span *ngIf="isData">bearbeiten</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <form [formGroup]="userFormGroup" (ngSubmit)="saveForm()" class="col s12">

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text" [ngClass]="{ 'validate' : !isData }" formControlName="username"
                               required [readonly]="isData" pattern="[a-zA-Z0-9]*">
                        <label [ngClass]="{ 'active' : (isData && userFormGroup.username != '') }"
                               for="username">Benutzername *</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">person</i>
                        <input id="firstname" type="text" class="validate" formControlName="first_name">
                        <label [ngClass]="{ 'active' : (isData && userFormGroup.first_name != '') }"
                               for="firstname">Vorname</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">person</i>
                        <input id="lastname" type="text" class="validate" formControlName="last_name">
                        <label [ngClass]="{ 'active' : (isData && userFormGroup.last_name != '') }"
                               for="lastname">Nachname</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="validate" formControlName="password"
                               [required]="(!isData || !passwordIsNotPresent)" (keyup)="passwordMatch()">
                        <label for="password">Passwort *</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6 offset-l3">
                        <i *ngIf="!passwordsMatch" class="material-icons prefix">close</i>
                        <i *ngIf="passwordsMatch" class="material-icons prefix">done</i>
                        <input id="passwordConfirm" type="password" class="validate" formControlName="passwordConfirm"
                               [required]="(!isData || !passwordIsNotPresent)" (keyup)="passwordMatch()">
                        <label for="passwordConfirm">Passwort bestätigen *</label>
                    </div>
                </div>

                <div class="row" *ngIf="this.userService.isAdmin">
                    <div class="input-field col s12 l6 offset-l3">
                        <i class="material-icons prefix">group</i>
                        <select id="groups" formControlName="groups" multiple>
                            <option value="" disabled>Wählen Sie eine Option</option>
                            <option *ngFor="let groupOption of companyGroups" [value]="groupOption.id">
                                {{ groupOption.companyName }} - {{ groupOption.name }}</option>
                        </select>
                        <label [ngClass]="{ 'active' : isData }" for="groups">Berechtigung *</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l6 offset-l3 center">
                        <button type="button" (click)="cancelForm()" class="btn btn-large waves-effect yellow darken-2">
                            Abbrechen
                        </button>
                        <button type="button" *ngIf="isData && this.userService.isAdmin"
                                class="btn btn-large waves-effect modal-trigger red darken-4" data-target="deleteModal">
                            Löschen
                        </button>
                        <button type="submit" [disabled]="!userFormGroup.valid" class="btn btn-large waves-effect">
                            Speichern
                        </button>

                        <!-- Modal Structure -->
                        <div id="deleteModal" class="modal col s12 l4 center">
                            <div class="modal-content">
                                <h4>Eintrag löschen</h4>
                                <p>Sind sie sich sicher, dass der Eintrag gelöscht werden soll?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-close waves-effect waves-red btn-flat">Abbrechen</a>
                                <a class="modal-close waves-effect waves-green btn-flat"
                                   (click)="deleteUser()">Löschen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
