h4 {
  display: inline-block;
}

ul {
  padding: 5px;
}

li.collection-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.secondary-content {
  cursor: pointer;
}

.custom-secondary-content {
  position: absolute;
  margin-top: -3px;
  margin-left: 5px;
  color: #26a69a;
}
